body {
	margin: 0px;
	padding: 0px;
}

.header {
	/*border: 1px solid black; */
	border-bottom: 2px solid #dc0101; /*linija ispod menija*/
}

.page {
	/*border: 1px solid black; */ 
}
 
.footer {
	/*border: 1px solid black; */
}

.column {
	/*border: 1px solid black; */
	width: 1000px;
	margin: 0px auto; /*auto znaci da je u sredini*/
}

.page .column {   /*pronadji sve elemente page i u njima column i njima dodjeli osobine */
	height: 100vh; /* 100% ekrana */
}

#logo-i-social {
	display: flex; /*podijela ekrana*/
}

#logo-holder {
	flex-grow: 1; 
}

#social-holder {
	flex-grow: 1; 
	text-align: right; /*desna strana*/
}

#social-holder a {
	text-decoration: none;
}

#social-holder a img {
	margin: 10px; /*odvoji od rubova za broj pixela*/
	height: 30px;
	width: 30px;
}

#main-menu {
	display: flex; 
}

#main-menu a {
	flex-grow: 1; 
	text-align: center;
	display: block;
	padding: 10px 0;
	text-decoration: none; /*da se izbjegnu linije i slicno*/
	color: #dc0101;
	transition: 400ms; /*brzina kojom se prikazuje efekat pomjeranja kada se predje misem*/
}

#main-menu a:hover,  /*hover znaci kada se misem prelazi preko tog */
#main-menu a.active { /*active znaci da je aktivna boja na meniju na kojem se nalazi trenutno*/
	background: #dc0101;
	color: #ffffff;
}

#pocetna {
	text-align: center; 
	color: #ffffff;
	background: url(images/pozadine/pozadina1.jpg);
	background-size: cover; /*cover znaci da je preko cijelog ekrana slika*/
	background-attachment: fixed; /*ovo znaci da slika stoji dok se skrola ekran*/
}

#pocetna h1 {
	font-size: 48pt; 
	margin-top: 0px;
	padding-top: calc(50vh - 300px); /* od 50% ekrana 300 pixela dole */
}


.dark-box {
	background-color: #99999980;
	border: 1px solid #ffffff;
	font-size: 24pt;
	padding: 40px;
}

#usluge {
	background: url(images/pozadine/pozadina2.jpg);
	background-size: cover; /*cover znaci da je preko cijelog ekrana slika*/
	background-attachment: fixed; /*ovo znaci da slika stoji dok se skrola ekran*/
}




/* 

height: 100vh - 100% ekrana (vh je procenat ekrana);
border - okvir koji prikazuje koji prostor zauzima elemenat
width - sirina
height - visina 
margin - 4 margine (lijevo, desno) koliko je odaljeno od neceg 
	margin: 0px(od lijeva na desno), 40px(obratno); -auto(sredina)
padding - isto kao i margin, samo gore i dole
*/