body {
	margin: 0px;
	padding: 0px;
}

.header {
	/*border: 1px solid black; */
	border-bottom: 2px solid #dc0101; 	/*linija ispod menija*/
}

.page {
	/*border: 1px solid black; */ 
}
 
.footer {
	/*border: 1px solid black; */
}

.column {
	/*border: 1px solid black; */
	width: 1000px;
	margin: 0px auto; 					/*auto znaci da je u sredini*/
}

.page .column {   						/*pronadji sve elemente page i u njima column i njima dodjeli osobine */
	height: 100vh; 						/* 100% ekrana */
}

#logo-i-social {
	display: flex; 						/*podijela ekrana*/
}

#logo-holder {
	flex-grow: 1; 
}

#social-holder {
	flex-grow: 1; 
	text-align: right;			 		/*desna strana*/
}

#social-holder a {
	text-decoration: none;
}

#social-holder a img {
	margin: 10px; 						/*odvoji od rubova za broj pixela*/
	height: 30px;
	width: 30px;
}

#main-menu {
	display: flex; 
}

#main-menu a {
	flex-grow: 1; 
	text-align: center;
	display: block;
	padding: 10px 0;
	text-decoration: none; 				/*da se izbjegnu linije i slicno*/
	color: #dc0101;
	transition: 400ms; 					/*brzina kojom se prikazuje efekat pomjeranja kada se predje misem*/
}

#main-menu a:hover,  					/*hover znaci kada se misem prelazi preko tog */
#main-menu a.active { 					/*active znaci da je aktivna boja na meniju na kojem se nalazi trenutno*/
	background: #dc0101;
	color: #ffffff;
}

#pocetna {
	text-align: center; 
	color: #ffffff;
	background: url(images/pozadine/pozadina1.jpg);
	background-size: cover; 			/*cover znaci da je preko cijelog ekrana slika*/
	background-attachment: fixed; 		/*ovo znaci da slika stoji dok se skrola ekran*/
}

#pocetna h1 {
	font-size: 48pt; 
	margin-top: 0px;
	padding-top: calc(50vh - 300px); 	/* od 50% ekrana 300 pixela dole */
}


.dark-box {
	background-color: #99999980;
	border: 1px solid #ffffff;
	font-size: 20pt;
	padding: 40px;
}

#usluge {
	background: url(images/pozadine/pozadina2.jpg);
	background-size: cover; 			/*cover znaci da je preko cijelog ekrana slika*/
	background-attachment: fixed; 		/*ovo znaci da slika stoji dok se skrola ekran*/
}


.align-center {  						/*koristi se da sve sa align-center bude centrirano da se ne bi ponavljako stalno */	
	text-align: center;
}


.krugovi {
	display: flex; 						/*rekli smo da ce se dijeliti na dijelove*/
	margin: 50px 0;						/*odvajanje texta, 50 znaci odmaknuto dole i gore, a 0 znaci da nije odmaknuto nista lijevo i desno*/
}

.krug-holder {
	flex-grow: 1;			 			/*svaki ce imati svoj dio, u ovom slucaju 3 dijela vodoravno*/
	text-align: center;
}

.krug {
	background: #dc0101; 				/*pozadina kruga*/
	color: #fff;						/*boja slova*/
	font-size: 45px;					/*velicina slova u krugu*/
	font-weight: bold;					/* da podebljamo slova*/
/*	width: 200px; 						/*duzina kruga*/
/*	height: 200px;						/*sirina kruga*/
	display: inline-block;				/*da krug bude u sredini */
	padding: 25%;						/* da krug po 25% bude od brojeva na sve strane*/
	width: 50px;						/* da svi imaju istu sirinu*/
	height: 50px;
	border-radius: 50%;					/* da zaoblimo kvadrat u kruznicu */

}

.oznaka {								/*podesavanje fonta*/
	font-size: 24px;					/*velicina slova*/
	font-weight: bold;					/*podebljana slova*/
	margin-top: 10px;					/*odmaknuto 10 piksela odozgo*/
}

.tehnologije {							/*podjela na dijelove vodoravno*/
	display: flex;
	margin: 50px 0;
}

.tehnologija {
	flex-grow: 1;
	text-align: center;
}

.tehnologija img {						/*podesavanje velicine ikonica*/
	height: 55px;
	width: 55px;
}

.tehnologija p {
	font-weight: bold;					/*podebljana slova u paragrafu*/
}

#o-nama h2 {							/*povecanje slova*/
	font-size: 40px;
	text-align: center;
}

#usluge {
	color: #fff;
}

#usluge h2 {
	font-weight: bold;
	padding: 40px;
	text-align: center;
}

.service-row {
	display: flex;
	margin-top: 60px;
	justify-content: space-between;   	/*prostor izmedju*/
}

.service-row > div { 					/* svi div-ovi koji se nalaze unutar "service-row" poprimit ce ove css osobine*/
	text-align: center;
	position: relative;					/* da img i paragraf budu pozicionirani*/
	width: 300px;
	height: 180px;
	border: 1px solid #fff;
}

.service-row > div > img {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.service-row > div > p {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 10px;
	background-color: #ffffffA2;
	margin-bottom: 0px;
	color: #000;
	border-top: 1px solid #fff;
}




















